/*Base Styles*/
:root {
  --primary-bg: #22213d;
  --main-accent: #6643b5;
  --secondary-accent: #f5c7f7;
  --main-txt-clr: #ffffff;
  --secondary-txt-clr: #a2c11c;
}

html,
body {
  background: linear-gradient(
    178.1deg,
    rgb(60, 55, 106) 8.5%,
    rgb(23, 20, 69) 82.4%
  );

  color: var(--main-txt-clr);
  font-family: "Inter";
  margin: 0;

  scroll-behavior: smooth;
}

/*Nav-Bar*/

.nav-bar {
  height: 40px;
  background: rgb(60, 55, 106);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
}

.nav-bar-list {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-weight: bold;
}

.nav-bar-list li {
  filter: drop-shadow(1px 12px 10px #000000);
}

li {
  font-family: "Inter";
  font-size: 1rem;
}

a {
  color: var(--main-accent);
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s ease;
  font-size: 1.5rem;
}

a:hover {
  color: var(--secondary-txt-clr);
  font-size: 1.6rem;
}

/* Intro section */
.intro {
  display: flex;
  gap: 4rem;
  margin: 4rem;
  align-items: center;
}

.image-div {
  margin-left: 4rem;
  margin-top: 4rem;
}

.front-image {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 2rem;
}

.image-circle-two {
  height: 430px;
  width: 430px;
  z-index: -5;
  border-radius: 50%;
  background-color: var(--main-accent);
}

.info-div {
  margin-top: -6rem;
}

.hello {
  font-family: "Inter";
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0;
  color: var(--main-accent);
}

.info-div .name {
  font-family: "Inter";
  font-size: 3.4rem;
  margin: 0;
}

.info-div .title {
  color: var(--secondary-txt-clr);
  font-size: 1.8rem;
  margin: 0;
}

.info-div .job-desc {
  font-size: 1.3rem;
}

.resume-button {
  background-color: var(--secondary-txt-clr);

  border: none;
  height: 3rem;
  width: 9rem;
  border-radius: 5%;

  cursor: pointer;
  transition: 0.4s ease;
}

.resume-button a {
  font-family: "Inter";
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--primary-bg);
}

/* Tech Stack */

.tech-stack-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.current-stack {
  font-size: 2.5rem;
  color: var(--main-accent);
  font-weight: bold;
  font-family: "Inter";
}

.tech-stack-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

/* About Me */

#About-Me {
  background-color: var(--secondary-txt-clr);
  height: 35rem;
}

.about-section {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.about-me-div {
  margin-top: 7rem;
  width: 55rem;
  height: 18rem;
  border-radius: 2%;
  background-color: rgb(60, 55, 106);
}

.about-me-div-title {
  height: 3rem;
  width: 12rem;
  background-color: var(--secondary-txt-clr);
  margin-top: -2.9rem;
  margin-left: 2.9rem;
  border-radius: 5%;
  background-color: rgb(60, 55, 106);
}

.about-me-header {
  margin-left: 5px;
  color: var(--main-txt-clr);
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 0;
}

.about-me-desc {
  width: 49rem;
  margin: 1rem;
  font-size: 1.4rem;
}

.history-div {
  display: none;
  /* margin-top: 7rem;
  width: 30rem;
  height: 10rem;
  border-color: var(--secondary-accent);
  border-style: solid;
  border-radius: 2%; */
}

.history-div-title {
  height: 2.5rem;
  width: 8rem;
  background-color: var(--secondary-accent);
  border-radius: 5%;
  margin-top: -3.8rem;
  margin-left: 3.9rem;
}

.history-header {
  margin-left: 5px;
  color: var(--primary-bg);
}

.history-section {
  margin-left: 0.5rem;
  font-family: "Inria Sans";
}

.dates {
  color: var(--secondary-txt-clr);
  font-weight: bold;
}

/* Contact section */
.contact-div {
  background: var(--secondary-txt-clr);
  display: flex;
  flex-direction: column;
  height: 120px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  color: var(--primary-bg);
}

.contact-div a {
  color: var(--primary-bg);
  font-size: 1rem;
}

.contact-div h4 {
  margin: 0;
  font-size: 1.5rem;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1.5rem;
}
.contact-links a {
  transition: ease 0.3s;
}
.contact-links a:hover {
  color: var(--main-accent);
}

/*Portfolio Section*/

.portfolio-div {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.portfolio-div h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-txt-clr);
  font-size: 2rem;
  font-style: italic;
}

.portfolio-piece {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 2rem;
}

.portfolio-piece h4 {
  height: 3rem;
  font-size: 1.5rem;
  margin-bottom: -1rem;
  margin-left: 9rem;
}

.piece-image-div {
  width: 25rem;
  height: 12rem;
  grid-column-start: 1;
  margin-left: 5rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.tech-used {
  font-family: "Inria Sans";
  font-size: 1rem;
  font-weight: bold;
  color: var(--secondary-txt-clr);
}

/*Media Queries*/

@media (min-width: 800px) and (max-width: 1000px) {
  html,
  body {
    margin: 0;
    padding: 0;
  }

  .nav-bar {
    position: fixed;
    top: 0;
    height: 30px;
  }

  .nav-bar-list {
    justify-content: center;
    margin-top: -0.5rem;
  }

  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 780px;
    margin-top: 2rem;
  }

  .image-div {
    margin-left: 20px;
  }

  .front-image {
    height: 300px;
    width: 300px;
  }

  .image-circle-two {
    height: 320px;
    width: 320px;
  }

  .info-div {
    margin-top: 9rem;
  }

  .hello {
    font-size: 1rem;
    color: var(--secondary-txt-clr);
  }

  .info-div .name {
    font-family: "Inter";
    font-size: 2.5rem;
    margin: 0;
  }

  .info-div .title {
    color: var(--secondary-txt-clr);
    font-size: 1.75rem;
    margin: 0;
  }

  .info-div .job-desc {
    font-size: 1.5rem;
    /* margin-top: 11rem;
    margin-left: -15rem; */
  }

  .contact-div {
    width: 100%;
    padding: 0;
  }

  .about-section {
    gap: 0.5rem;
    margin: 0;
  }

  .history-div {
    width: 20rem;
    height: 12rem;
  }

  .about-me-div {
    width: 24rem;
    height: 20rem;
  }

  .current-stack {
    font-size: 2.3rem;
  }
  .portfolio-piece {
    grid-gap: 2rem;
  }

  .portfolio-piece h4 {
    height: 3rem;
    font-size: 1.5rem;
    margin-bottom: -3rem;
  }
}

@media (min-width: 500px) and (max-width: 799px) {
  .nav-bar {
    position: fixed;
    top: 0;
  }

  .nav-bar-list {
    justify-content: center;
  }

  a:hover {
    color: var(--secondary-txt-clr);
  }

  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    margin-top: 6rem;
  }

  .image-div {
    margin-left: 20px;
    position: relative;
  }

  .front-image {
    height: 200px;
    width: 200px;
  }

  .image-circle-two {
    height: 220px;
    width: 220px;
  }

  .info-div {
    margin-top: 5rem;
  }

  .hello {
    font-size: 1.5rem;
    color: var(--secondary-txt-clr);
  }

  .info-div .name {
    font-family: "Inter";
    font-size: 2.5rem;
    margin: 0;
  }

  .info-div .title {
    color: var(--secondary-txt-clr);
    font-size: 1.75rem;
    margin: 0;
  }

  .info-div .job-desc {
    font-size: 1.5rem;
    /* margin-top: 11rem;
    margin-left: -15rem; */
  }

  .about-section {
    margin-left: 15px;
  }

  .history-div {
    height: 13rem;
  }

  .about-me-div {
    height: 13rem;
  }
}

@media (min-width: 360px) and (max-width: 499px) {
  .nav-bar {
    width: 360px;
    padding: 0;
    position: fixed;
    top: 0;
  }

  .nav-bar-list {
    justify-content: center;
    padding-left: 0;
  }

  a {
    font-size: 1.75rem;
  }

  a:hover {
    color: var(--secondary-txt-clr);
  }

  .intro {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin: 0;
    padding: 2rem;
  }

  .image-div {
    margin-left: -5px;
  }

  .front-image {
    height: 250px;
    width: 250px;
  }

  .image-circle-two {
    height: 270px;
    width: 270px;
  }

  .info-div {
    margin-top: 5rem;
  }

  .hello {
    font-size: 1.5rem;
    color: var(--secondary-txt-clr);
  }

  .info-div .name {
    font-family: "Inter";
    font-size: 2.5rem;
    margin: 0;
  }

  .info-div .title {
    color: var(--secondary-txt-clr);
    font-size: 1.75rem;
    margin: 0;
  }

  .info-div .job-desc {
    font-size: 1.5rem;
    /* margin-top: 11rem;
    margin-left: -15rem; */
  }

  .about-section {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 1rem;
  }

  .history-div {
    height: 22rem;
    font-size: 1.5rem;
    width: 100%;
  }

  .about-me-div {
    width: 100%;
    height: 45rem;
    font-size: 1.5rem;
  }

  .portfolio-piece {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 1rem;
  }
  .portfolio-piece h4 {
    margin: 0;
    text-decoration: underline;
  }

  .piece-image-div {
    width: 100%;
    margin: 0;
  }

  .contact-div {
    padding: 0.5rem;
  }

  .contact-div a {
    color: var(--primary-bg);
    font-size: 0.5rem;
  }

  .contact-div h4 {
    margin: 0;
    font-size: 1rem;
  }

  .contact-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1rem;
  }
}
