/*Base Styles*/
:root {
  --primary-bg: #1a2639;
  --main-accent: #5e63b6;
  --secondary-accent: #f5c7f7;
  --main-txt-clr: #ffffff;
  --secondary-txt-clr: #a393eb;
}

body {
  background-color: var(--primary-bg);
  color: var(--main-txt-clr);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Nav-Bar*/
.nav-bar-list {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-weight: bold;
}

li {
  font-family: "Inter";
  font-size: 1rem;
}

a {
  color: var(--main-accent);
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s ease;
  font-size: 1.5rem;
}

a:hover {
  color: var(--secondary-txt-clr);
  font-size: 1.6rem;
}

/* Intro section */
.intro {
  display: flex;
  gap: 5rem;
  margin: 5rem;
  align-items: center;
}

.front-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.image-circle-one {
  height: 50px;
  width: 50px;
  z-index: 20;
  border-radius: 50%;
  background-color: var(--main-accent);
}

.image-circle-two {
  height: 50px;
  width: 50px;
  z-index: -5;
  border-radius: 50%;
  background-color: var(--secondary-accent);
  margin-left: 10rem;
  margin-top: -4rem;
}

.hello {
  font-style: italic;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.info-div .name {
  font-family: "Gothic A1";
  font-size: 2rem;
  margin: 0;
}

.info-div .title {
  color: var(--main-accent);
  font-size: 1.5rem;
  font-style: italic;
}

.info-div .job-desc {
  font-size: 1rem;
}

/* Tech Stack */

.tech-stack-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.current-stack {
  font-size: 1.5rem;
  color: var(--main-accent);
  font-weight: bold;
}

.tech-stack-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  /* background-color: var(--main-accent); */
}
