/*Base Styles*/
:root {
  --primary-bg: #1a2639;
  --main-accent: #5e63b6;
  --secondary-accent: #f5c7f7;
  --main-txt-clr: #ffffff;
  --secondary-txt-clr: #a393eb;
}

body {
  background-color: var(--primary-bg);
  font-family: Inria Sans;
}

/*Nav-Bar*/
.nav-bar {
  margin-left: 60rem;
}

ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-weight: bold;
}

li {
  font-size: 1.3rem;
}

a {
  color: var(--main-accent);
  cursor: pointer;
  text-decoration: none;
}
